body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-image: url("../img/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6 {

    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #7F7D78;
}

footer {
    color: white;
}

footer h3 {
    color: white;
}

.inset-text {
    text-shadow: 3px 4px 5px 6px #000;
}

.card {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/* Cards show up side by side on non-mobile displays */
@media (min-width: 768px) {
    .card {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;
        position: relative;
        float: left;
    }
}
.card:nth-child(even) {
    margin-right: 0;
}

.come-in {
    transform: translateY(100px) rotate(20deg);
    opacity: 0;
    animation: come-in 0.8s ease forwards;
}

.come-in:nth-child(odd) {
    animation-duration: 0.6s;
}

@keyframes come-in {
    to {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}

#contact-box {
    /*box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5);*/
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

#cards-panel-outer {
    max-width: 1000px;
    padding: 50px;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
}

.portfolio-item {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio-description {
    font-size: 1.2em !important;
    padding-left: 10px;
    padding-right: 10px;
}

.project-link {
    margin-right: 5px !important;
    font-size: 1.0em !important;
}

#about-me {
    /*background-color: white;

    margin: 0 auto;
    margin-left: 10px;
    margin-right:10px;
    padding-top: 50px;*/
}

#about-me-inner {

    max-width: 1000px;
    padding: 50px;
    padding-top: 110px;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
}

/* adds more padding to the about me section because the nav bar is larger */
@media (min-width: 768px) {
    #about-me {
        margin-top: 170px;
    }

    #about-me-inner {
        padding-top: 90px;
    }
}

#contact {
    padding: 25px 0;
}

.gravatar {
    width: 190px;
    height: 190px;
    border-radius: 95px;
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    margin: 0 auto;
    background: url("../img/me.png") no-repeat;
}
